{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "sortImports": true,
  "importOrder": [
    "^@lib/(.*)$",
    "^@typess/(.*)$",
    "^@pages/(.*)$",
    "^@container/(.*)$",
    "^@components/(.*)$",
    "^@public/(.*)$",
    "^@styles/(.*)$",
    "^@(.*)$",
    "^(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
